html {
    height: 100%; 
}

body {    
    width: 100%;
    height: 100%; 
     background-color: black;
}

.content {
    height: 100%; 
   ;
}

.full-screen {
    width: 100%;
    min-height: 100%;
}

#section-1 {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 0;
}



.navi { 
  z-index: 100000 !important; 
  width: 100%;
  list-style: none;
  background: black;
  overflow-y: hidden;
  overflow-x: hidden; 

 
}
.navi a {
  font-size: 1.8em;
  
  color: white;
  float: left; 
  width: 16.666666666667%;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
  text-align: center;
  background: rgba(255, 20, 20, 0);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;

}
.navi a:hover {
  background: dodgerblue;
  color: #fff;
}

.headline {
    position: relative;
    z-index: 4; !important; 
    font-size: 3.4em; 
    font-family: 'Cabin', sans-serif;
    text-decoration-color: dodgerblue;
}

.sub-headline {
    position: relative;
    z-index: 4; 
    
}

.typed-cursor{
    font-size: 3.4em; 
    color: white;
    opacity: 1;
    -webkit-animation: blink 1.0s infinite;
    -moz-animation: blink 1.0s infinite;
    animation: blink 1.0s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


.stars {
  background:#000 url(https://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(https://www.script-tutorials.com/demos/360/images/twinkling.png)  repeat top center;

  z-index:0;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}


@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}






#section-2 {

}

#bio {
    height: 70%;

    
}

.circular {
	width: 304px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;

	}


.icons {
    
    color: black;
}

#summary {
    height: 30%;
    font-family: 'Cabin', sans-serif;
    font-size: 1.7em;
    padding: 20px;
    
}

.footer-copyright {
    font-size: 1.4em;
}

