html {
    height: 100%; 
}

body {    
    width: 100%;
    height: 100%; 
}

.content {
    height: 100%; 
}

.full-screen {
    width: 100%;
    min-height: 100%;
}

.section-1 {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.

.navi {
  width: 100%;
  list-style: none;
  background: transparent;
  overflow: hidden;
  z-index: 2; 
}
.navi li {
  color: #222;
  float: left;
  width: 25%;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  background: rgba(255, 20, 20, 0);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.navi li:hover {
  background: #6464c8;
  color: #fff;
}


.section-2 {
    height: 500px;
}

#test {
    
    color: red;
    z-index: 3; 
    
}